<!DOCTYPE html>
<html>
    <head>
        <title>Gemini report</title>
        <link rel="stylesheet" type="text/css" href="report.css">
    </head>

    <body class="report">
        <dl class="summary">
            <dt class="summary__key">Total Tests</dt><dd class="summary__value">{{total}}</dd>
            <dt class="summary__key">Passed</dt><dd class="summary__value">{{passed}}</dd>
            <dt class="summary__key {{has-fails}}">Failed</dt><dd class="summary__value">{{failed}}</dd>
            <dt class="summary__key">Skipped</dt><dd class="summary__value">{{skipped}}</dd>
            <dt class="summary__key">Retries</dt><dd class="summary__value">{{retries}}</dd>
        </dl>

        <button id="expandAll" class="button">Expand all</button>
        <button id="collapseAll" class="button">Collapse all</button>
        <button id="expandErrors" class="button">Expand errors</button>
        <button id="showSkipped" class="button">Show skipped</button>
        <button id="showRetries" class="button">Expand retries</button>
        <button id="showOnlyDiff" class="button">Show only diff</button>

        <div id="skippedList" class="skipped__list collapsed">
            {{#if skips}}
                {{#each skips}}
                    <div>{{suite}} > {{browser}}{{#if comment}}, reason: {{{comment}}}{{/if}}</div>
                {{/each}}
            {{/if}}
            {{#unless skips}}
                There are no skipped tests
            {{/unless}}
        </div>

        {{#each suites}}
            {{> suite}}
        {{/each}}

        <script src="report.js"></script>
    </body>
</html>
