<div class="section {{collapse}} {{status}}">
    <div class="section__title">{{name}}</div>
    <div class="section__body section__body_guided">
        {{#each browsers}}
            <div class="section {{collapse}} {{status}}">
                {{#if skipped}}
                    <div class="section__title">[skipped] {{name}}</div>
                {{/if}}
                {{#unless skipped}}
                    <div class="section__title">{{name}}</div>
                    <div class="section__body">
                        {{#if error}}
                            <pre class="reason">{{{reason}}}</pre>
                        {{/if}}

                        {{#if warning}}
                            <pre class="reason">{{{reason}}}</pre>
                        {{/if}}

                        {{#if success}}
                            <div class="image-box">
                                <div class="cswitcher">
                                    <div data-id="1" class="cswitcher__item cswitcher_color_1 cswitcher__item_selected"></div>
                                    <div data-id="2" class="cswitcher__item cswitcher_color_2"></div>
                                    <div data-id="3" class="cswitcher__item cswitcher_color_3"></div>
                                </div>
                                <div class="image-box__image">
                                    {{image "actual"}}
                                </div>
                            </div>
                        {{/if}}
                        {{#if fail}}
                            <div class="image-box">
                                <div class="image-box__image">
                                    <div class="image-box__title">Expected</div>
                                    {{image "expected"}}
                                </div>
                                <div class="image-box__image">
                                    <div class="image-box__title">Actual</div>
                                    {{image "actual"}}
                                </div>
                                <div class="image-box__image">
                                    <div class="image-box__title">Diff</div>
                                    {{image "diff"}}
                                </div>
                            </div>

                        {{/if}}
                    </div>
                {{/unless}}

            </div>
        {{/each}}

        {{#each children}}
            {{> suite}}
        {{/each}}
    </div>
</div>
