<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="coverage.css"/>
    <script type="text/javascript" src="tinytable.sorter.js"></script>
    <meta charset="utf-8"/> 
</head>
<body>
<div class="report">
    <h3>Gemini tests CSS coverage report</h3>
    <h4>Summary: <b
                    title="Total percentage of the covered rules">{{percent}}%</b> (<b
                    title="Total number of the covered rules">{{covered}}</b>/<b
                    title="Total number of the rules in all files">{{total}}</b>)</h4>

    <table id="report-list" class="report-list">
        <thead class="report-list__header">
            <th>File</th>
            <th>Coverage, %</th>
            <th>Rules Covered</th>
            <th>Rules Total</th>
        </thead>
        <tbody>
            {{#each reports}}
                <tr class="report-list__row_level_{{stat.level}}">
                    <td><a class="report-link" href="{{report}}">{{source}}</a></td>
                    <td><div class="gauge"><span class="gauge__text">{{stat.percent}}</span><div
                            class="gauge__fill" style="width: {{stat.percent}}%;">&nbsp;</div></div></td>
                    <td>{{stat.covered}}</td>
                    <td>{{stat.total}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var sorter = new TINY.table.sorter("sorter");
    sorter.head = "head";
    sorter.asc = "report-list__header__cell_asc";
    sorter.desc = "report-list__header__cell_desc";
    sorter.init("report-list", 0);
</script>
</body>
</html>
